.grbg{background-color:#283949;overflow: hidden;padding:0 15px;color:#fff}
.lft{list-style: none;padding:5px 0;margin: 0;}
.lft li{float: left;font-size:12px;margin:0 10px;}
.lft li a{color:#fff}
.topPos{right:0}
